.yes-planet {
    background-color: #f5821e;
    border: 2px solid black;
    color: black;
}

.cinema-city {
    background-color: #0077b6;
    /* border: 2px solid #1D1D48; */
    border: 2px solid black;
    color: black;
}

.lev-cinema {
    background-color: #d80019;
    border: 2px solid black;
    color: black;
}

.movie-list {
    padding: 20px;
}

.movie-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 8px;
    background: none;
}

.movie-times-sub-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    gap: 7px;
    padding: 10px;
}

.each-showtime {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    gap: 1px;
    height: 57px;
    justify-content: flex-end;
}

.showtime-background {
    background-color: rgb(101, 94, 94);
    width: 95%;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.showtime-time {
    padding: 5px 10px;
    margin-top: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showtime-type {
    padding: 2px 8px;
    color: #fff;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
}

.movie-poster-sub-block>img {
    width: 120px;
    height: 180px;
    border-radius: 7px;
}

.movie-poster-sub-block {
    width: 120px;
    padding: 10px;
    flex-shrink: 0;
}

.movie-info-sub-block {
    width: 250px;
    padding: 10px;
    flex-shrink: 0;
}

.movie-title {
    font-size: 25px;
    font-weight: 375;
    margin-bottom: 10px;
}