.main-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.carousel-current-date {
    display: flex;
    align-items: center;
    justify-content: center;
}